<nav class="navbar fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="cl-text-white navbar-brand cl-text-bold" routerLink="./">
        Dashboard
      </a>
    </div>
  </div>
</nav>

<div class="container">

  <h3>Username: </h3>
  <br/>

  <a class="btn btn-primary btn-block"
     href="">View your courses</a>
  <br/>

  <a class="btn btn-info btn-block"
     href="">View top rated courses</a>
  <br/>

  <a class="btn btn-success btn-block"
     routerLink="/reservation">Reserve a room in Library</a>
  <br/>
</div>

<nav class="navbar fixed-bottom cl-blue-navbar">
  <a class="cl-text-white navbar-brand cl-text-bold" routerLink="">
    Homepage
  </a>

</nav>
