<nav class="navbar cl-blue-navbar fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="../" class="cl-text-white cl-icon-padding">
          <span class="fas fa-chevron-left">
          </span>
      </a>
      <a class="cl-text-white cl-text-bold" routerLink="./">
        Edit Professor
      </a>
    </div>
    <div class="pull-right">
      <a routerLink="new" class="cl-icon-padding cl-text-white">
          <span class="fas fa-plus">
          </span>
      </a>
    </div>

  </div>
</nav>

<div class="bg">
  <div></div>
  <div class="container">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor = "let professor of professors">
        <td>{{professor.username}}</td>
        <td>{{professor.firstName}}</td>
        <td>{{professor.lastName}}</td>
        <td>{{professor.email}}</td>
        <td><button class="btn btn-danger btn-block"
                    (click)="deleteUser(professor._id)">Delete</button></td>
      </tr>

      </tbody>
    </table>

    <br/>

    <a class="btn btn-info btn-block"
       routerLink="new">Add new professor</a>
  </div>
</div>




<nav class="navbar fixed-bottom cl-blue-navbar">
  <div class="container-fluid row">
    <a routerLink="/"
       class="navbar-text cl-text-white pull-left">
      <span class="fa fa-home"></span>
    </a>
    <a routerLink="../"
       class="navbar-text cl-text-white pull-right">
      <span class="fa fa-user"></span>
    </a>
  </div>
</nav>
