<nav class="navbar fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="cl-text-white navbar-brand cl-text-bold" href="#">
        Dashboard
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <input type="text"
         class="form-control"
         placeholder="username"/>
  <input type="text"
         class="form-control"
         placeholder="firstName"/>
  <input type="text"
         class="form-control"
         placeholder="lastName"/>
  <input type="password"
         class="form-control"
         placeholder="password"/>
  <input type="text"
         class="form-control"
         placeholder="Email"/>
  <a class="btn btn-info btn-block"
     routerLink="../">Add</a>
  <a class="btn btn-danger btn-block"
     routerLink="../">Cancel</a>
</div>


<nav class="navbar fixed-bottom cl-blue-navbar">
  <a class="cl-text-white navbar-brand cl-text-bold" routerLink="">
    Homepage
  </a>
</nav>


