<nav class="navbar cl-blue-navbar fixed-top">
  <div class="container-fluid row">
    <div class="pull-left">
      <a routerLink="../"
         class="navbar-text cl-text-white right-margin">
        <span class="fa fa-angle-left"></span>
      </a>
      <a routerLink="./"
         class="navbar-text cl-text-white">
        Choose Widget for {{course.name}}
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid container-padding">
  <ul class="ul-no-style">
    <li class="li-margin">
      <a (click)="createWidget('HEADER')">
        Header
      </a>
    </li>
    <li class="li-margin">
      <a (click)="createWidget('HTML')">
        HTML
      </a>
    </li>
    <li class="li-margin">
      <a (click)="createWidget('IMAGE')">
        Image
      </a>
    </li>
    <li class="li-margin">
      <a (click)="createWidget('YOUTUBE')">
        YouTube
      </a>
    </li>
  </ul>
</div>

<nav class="navbar fixed-bottom cl-blue-navbar">
  <div class="container-fluid">
    <a routerLink="/"
       class="navbar-text cl-text-white pull-left">
      <span class="fa fa-home"></span>
    </a>
    <a routerLink="/professor"
       class="navbar-text cl-text-white pull-right">
      <span class="fa fa-user"></span>
    </a>
  </div>
</nav>
