<nav class="navbar fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="cl-text-white navbar-brand cl-text-bold" routerLink="./">
        Dashboard
      </a>
    </div>
  </div>
</nav>


<div class="container">

  <h3>Admin</h3>
  <br/>

  <a class="btn btn-info btn-block"
     routerLink="professor">Edit professors</a>
  <br/>

  <a class="btn btn-info btn-block"
     routerLink="student">Edit students</a>
  <br/>

</div>

<nav class="navbar fixed-bottom cl-blue-navbar">
  <a class="cl-text-white navbar-brand cl-text-bold" routerLink="">
    Homepage
  </a>
</nav>
