
<nav class="navbar cl-blue-navbar fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="../" class="cl-text-white cl-icon-padding">
          <span class="fas fa-chevron-left">
          </span>
      </a>
      <a class="cl-text-white cl-text-bold" routerLink="./">
        Edit Professor
      </a>
    </div>
    <div class="pull-right">
      <a routerLink="new" class="cl-icon-padding cl-text-white">
          <span class="fas fa-plus">
          </span>
      </a>
    </div>

  </div>
</nav>

<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Password</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>mark</td>
      <td>Mark</td>
      <td>William</td>
      <td>123</td>
      <td>William@gamil.com</td>
      <td><button class="btn btn-danger btn-block">Delete</button></td>
    </tr>

    <tr>
      <td>otto</td>
      <td>Otto</td>
      <td>Wonderland</td>
      <td>123</td>
      <td>Wonderland@gmail.com</td>
      <td><button class="btn btn-danger btn-block">Delete</button></td>
    </tr>

    <tr>
      <td>kathy</td>
      <td>Kathy</td>
      <td>Lance</td>
      <td>123</td>
      <td>Lance@gmail.com</td>
      <td><button class="btn btn-danger btn-block">Delete</button></td>
    </tr>

    <tr>
      <td>emily</td>
      <td>Emily</td>
      <td>Aron</td>
      <td>123</td>
      <td>Aron@gmail.com</td>
      <td><button class="btn btn-danger btn-block">Delete</button></td>
    </tr>

    </tbody>
  </table>

  <br/>
  <a class="btn btn-info btn-block"
     routerLink="new">Add new professor</a>
</div>

<nav class="navbar fixed-bottom cl-blue-navbar">
  <div class="container-fluid row">

    <div class="pull-left">
      <a class="cl-text-white navbar-brand cl-text-bold" routerLink="">
        Homepage
      </a>
    </div>
    <div class="pull-right">
      <a class="cl-text-white navbar-brand cl-text-bold" routerLink="../">
        Dashboard
      </a>
    </div>
  </div>
</nav>
