<nav class="navbar fixed-top nav-blue">
  <a class="navbar-brand" routerLink="/student">
    <span class="fa fa-chevron-left text-white"></span>
  </a>
  <div class="navbar-brand text-white font-weight-bold">
    Courses
  </div>
  <a class="navbar-brand pull-right" routerLink="/student/courses/new">
    <span class="fa fa-plus text-white"></span>
  </a>
</nav>


<div class="bg nav-padding">
  <div></div>
  <div class="container">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" class="text-align">Course Name</th>
        <th scope="col" class="text-align">Course Title</th>
        <th scope="col" class="text-align">Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor = "let course of courses">
        <td class="text-align btn btn-outline-primary"
            routerLink="/student/courses/{{course._id}}/widget">{{course.name}}</td>
        <td class="text-align">{{course.title}}</td>
        <td class="actions">
          <button class="btn btn-outline-success"
                  routerLink="/student/courses/{{course._id}}"><i class="fa fa-edit"></i>Rate</button>
          <button class="btn btn-outline-danger" (click)="deleteCourseForStudent(course._id)">
            <i class="fas fa-exclamation-triangle"></i>Delete</button>
        </td>
      </tr>

      </tbody>
    </table>

    <br/>

    <a class="btn btn-info btn-block"
       routerLink="new">Add New Course</a>
  </div>
</div>

<nav class="navbar fixed-bottom nav-blue">
  <div class="container-fluid">
    <a routerLink="/"
       class="navbar-text white-text pull-left">
      <span class="fa fa-home"></span>
    </a>
    <a routerLink="../"
       class="navbar-text white-text pull-right">
      <span class="fa fa-user"></span>
    </a>
  </div>
</nav>


