<nav class="navbar fixed-top nav-blue">
  <a class="navbar-brand" routerLink="/student">
    <span class="fa fa-chevron-left text-white"></span>
  </a>
  <div class="navbar-brand text-white font-weight-bold">
    Courses
  </div>
  <a class="navbar-brand pull-right" routerLink="/student/courses/new">
    <span class="fa fa-plus text-white"></span>
  </a>
</nav>

<div class="bg">
  <div class="container">
    <div class="row extra-padding" *ngFor="let course of courses">
      <div class = "container">
        <div class = "row">
          <div class = "col">
            <a class="extra-left-padding" routerLink="/student/courses/{{course._id}}/widget">
              {{course.name + " " + course.title}}
            </a>
          </div>
          <div class="col">
            <a class="pull-right" routerLink="/student/courses/{{course._id}}">Rate this Course</a>
            <button class="btn btn-danger pull-right" (click)="deleteCourseForStudent(course._id)">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <div class = "row extra-padding">
      <a class="extra-left-padding" routerLink="/student/courses/new">Add Another Course</a>
    </div>
  </div>
</div>

<nav class="navbar fixed-bottom nav-blue">
  <div class="container-fluid">
    <a routerLink="/"
       class="navbar-text white-text pull-left">
      <span class="fa fa-home"></span>
    </a>
    <a routerLink="../"
       class="navbar-text white-text pull-right">
      <span class="fa fa-user"></span>
    </a>
  </div>
</nav>


