<nav class="navbar fixed-top nav-blue">
  <a class="navbar-brand" routerLink="../">
    <span class="fa fa-chevron-left text-white"></span>
  </a>
  <div class="navbar-brand text-white font-weight-bold">
    Courses
  </div>
  <a class="navbar-brand pull-right" routerLink="/student/courses">
    <span class="fa fa-plus text-white"></span>
  </a>
</nav>

<div class="bg">
  <div class="container">
    <div>
      <div *ngIf="errorFlag"
           class="alert alert-danger">
        {{errorMsg}}
      </div>
      <div class="font-sketch large-font">
        Course Name: &nbsp;&nbsp; {{course.name}}&nbsp;{{course.title}}
        <br/>
        Rate (From 0 to 10): &nbsp;&nbsp; {{rating}}
        <br/>
        <input [(ngModel)]="rating"
               type="range" min="0" max="10" step="0.1" value="5"
               id="course-rating" placeholder="10"
               ngModel required [ngModelOptions]="{standalone: true}">
      </div>
      <a (click)="updateCourse()" class="btn left btn-info btn-block cl-8-top" routerLink="/student/courses">Submit</a>
    </div>
  </div>
</div>

<nav class="navbar fixed-bottom nav-blue">
  <div class="container-fluid">
    <a routerLink="/"
       class="navbar-text white-text pull-left">
      <span class="fa fa-home"></span>
    </a>
    <a routerLink="../"
       class="navbar-text white-text pull-right">
      <span class="fa fa-user"></span>
    </a>
  </div>
</nav>


