<nav class="navbar fixed-top nav-blue">
  <a class="navbar-brand" routerLink="/student">
    <span class="fa fa-chevron-left text-white"></span>
  </a>
  <div class="navbar-brand text-white font-weight-bold">
    Courses
  </div>
  <a class="navbar-brand pull-right" routerLink="/student/courses">
  <span class="fa fa-plus text-white"></span>
  </a>
</nav>

<div class="bg">
<div class="container">
  <div>
      <div class="form-group cl-8-top">
        <label for="course-name">Course Name: {{course.name}}  {{course.title}}</label>
      </div>
      <div class="form-group cl-8-top">
        <label for="course-name">Rate: </label>
        <input [(ngModel)]="rating" type="text" id="course-name" placeholder="10" ngModel required [ngModelOptions]="{standalone: true}">
      </div>
      <a (click)="updateCourse()" class="btn left btn-info btn-block cl-8-top" routerLink="/student/courses">Submit</a>
  </div>
</div>
</div>

<nav class="navbar fixed-bottom nav-blue">
  <div class="container-fluid">
    <a routerLink="/"
       class="navbar-text white-text pull-left">
      <span class="fa fa-home"></span>
    </a>
    <a routerLink="../"
       class="navbar-text white-text pull-right">
      <span class="fa fa-user"></span>
    </a>
  </div>
</nav>


