<<<<<<< HEAD
body {
  padding-top: 70px;
  padding-bottom: 70px;
}
input.form-control {
  margin-bottom: 5px;
}

=======
body, html {
  height: 100%;
}

a:hover {
  text-decoration: none;
}

/* You can add global styles to this file, and also import other style files */
>>>>>>> cd7807d5aab0337763e7edb24a78c24dc2e03a8e
