<nav class="navbar cl-blue-navbar fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
      <a routerLink="../" class="cl-text-white cl-icon-padding">
          <span class="fas fa-chevron-left">
          </span>
      </a>
      <a class="cl-text-white cl-text-bold" routerLink="./">
        Edit Admin
      </a>
    </div>
    <div class="pull-right">
      <a routerLink="../" class="cl-icon-padding cl-text-white">
          <span class="fas fa-check">
          </span>
      </a>
    </div>
  </div>
</nav>

<div class="bg">
  <div></div>
  <div class="container">
    <h1>Profile</h1>
    <label for="username">Username</label>
    <input id="username" [(ngModel)]="user.username" class="form-control"/>

    <label for="firstName">FirstName</label>
    <input id="firstName" [(ngModel)]="user.firstName" class="form-control"/>

    <label for="lastname">LastName</label>
    <input id="lastname" [(ngModel)]="user.lastName" class="form-control"/>

    <label for="email">Email</label>
    <input id="email" [(ngModel)]="user.email" class="form-control"/>

    <button class="btn btn-primary btn-block" (click)="updateUser(user._id, user)">Update</button>
    <button class="btn btn-danger btn-block" (click)="deleteUser(user._id)">Delete</button>
    <button class="btn btn-secondary btn-block" routerLink="../">Cancel</button>
  </div>
</div>

<nav class="navbar fixed-bottom cl-blue-navbar">
  <div class="container-fluid row">
    <a routerLink="/"
       class="navbar-text cl-text-white pull-left">
      <span class="fa fa-home"></span>
    </a>
    <a routerLink="../"
       class="navbar-text cl-text-white pull-right">
      <span class="fa fa-user"></span>
    </a>
  </div>
</nav>
