<nav class="navbar fixed-top nav-blue">
  <a class="navbar-brand" routerLink="../">
    <span class="fa fa-chevron-left text-white"></span>
  </a>
  <div class="navbar-brand text-white font-weight-bold">
    Courses
  </div>
  <a class="navbar-brand pull-right" routerLink="/professor/courses">
    <span class="fa fa-plus text-white"></span>
  </a>
</nav>

<div class="bg">
<div class="container">

    <div class="col-xs-8 borders">
      <form>
        <div class="form-group cl-8-top">
          <div class="container-fluid">
            <label for="course-name">Course Name:</label>
            <input [(ngModel)]= "updatedCourse.name" type="text" class="form-control" id="course-name" value={{updatedCourse.name}} ngModel required [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="form-group cl-8-top">
          <div class="container-fluid">
            <label for="course-name">Course Title: </label>
            <input [(ngModel)]= "updatedCourse.title" type="text" class="form-control" id="website-name" value={{updatedCourse.title}} ngModel required [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="container-padding">
          <button (click)="updateCourse(updatedCourse)" class="btn btn-success btn-block cl-8-top">Update</button>
          <button (click)="deleteCourse()" class="btn btn-danger  btn-block cl-8-top">Delete</button>
        </div>
      </form>
    </div>
</div>
</div>


<nav class="navbar fixed-bottom nav-blue">
  <div class="container-fluid">
    <a routerLink="/"
       class="navbar-text white-text pull-left">
      <span class="fa fa-home"></span>
    </a>
    <a routerLink="../"
       class="navbar-text white-text pull-right">
      <span class="fa fa-user"></span>
    </a>
  </div>
</nav>

