<nav class="navbar fixed-top nav-blue">
  <a class="navbar-brand" routerLink="/professor">
    <span class="fa fa-chevron-left text-white"></span>
  </a>
  <div class="navbar-brand text-white font-weight-bold">
    Courses
  </div>
  <a class="navbar-brand pull-right" routerLink="/professor/courses">
    <span class="fa fa-plus text-white"></span>
  </a>
</nav>

<div class="container">
    <div class="col-xs-4 hidden-xs">
      <ul class="list-group cl-list-group-borderless">
        <li class="list-group-item cl-list-item-borderless">
          <a routerLink="/professor/courses/edit"><span class="fa fa-cog right"></span></a>
          <a routerLink="/widget/widget-list">Course 1</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
          <a routerLink="/professor/courses/edit"><span class="fa fa-cog right"></span></a>
          <a routerLink="/widget/widget-list">Course 2</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
          <a routerLink="/professor/courses/edit"><span class="fa fa-cog right"></span></a>
          <a routerLink="/widget/widget-list">Course 3</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
          <a routerLink="/professor/courses/edit"><span class="fa fa-cog right"></span></a>
          <a routerLink="/widget/widget-list">Course 4</a>
        </li>
      </ul>
    </div>

    <div class="col-xs-8 borders">
      <form>
        <div class="form-group cl-8-top">
          <div class="container-fluid">
            <label for="website-name">Course Number</label>
            <input type="text" class="form-control" id="course-number" placeholder="000">
          </div>
        </div>
        <div class="form-group cl-8-top">
          <div class="container-fluid">
            <label for="website-name">Course Name</label>
            <input type="text" class="form-control" id="website-name" placeholder="Course">
          </div>
        </div>
        <div class="form-group cl-8-top">
          <div class="container-fluid">
            <label for="website-description">Course Description</label>
            <textarea id="website-description" class="form-control" rows="5" placeholder="This is the description."></textarea>
          </div>
        </div>
        <div class="container-padding">
          <a class="btn btn-success btn-block cl-8-top" href="../professor-course-list/professor-course-list.component.html">Update</a>
          <a class="btn btn-danger  btn-block cl-8-top" href="../professor-course-list/professor-course-list.component.html">Delete</a>
        </div>
      </form>
    </div>
</div>




<nav class="navbar fixed-bottom nav-blue">
  <div class="container-fluid">
    <a routerLink="/"
       class="navbar-text white-text pull-left">
      <span class="fa fa-home"></span>
    </a>
    <a routerLink="../"
       class="navbar-text white-text pull-right">
      <span class="fa fa-user"></span>
    </a>
  </div>
</nav>

